* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #000;
}

nav {
  width: 1280px;
  height: 76px;
  margin: 16px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > .logo {
  width: 129px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .menu {
  width: 440px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {
  width: 250px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons > .btn {
  border-radius: 40px;
  padding: 8px 32px;
}

.auth-buttons > .sign-up {
  border: 2px solid #f53855;
}

/* about */

.about {
  width: 1280px;
  height: 478px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-left,
.about-right,
.about-right > img {
  width: 560px;
  height: 350px;
}

.about-left > h1 {
  font-size: 50px;
}

.about-left > button {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f53855;
  color: #fff;
  border-radius: 10px;
}

/* status-container */
.status-container {
  width: 1152px;
  height: 176px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.status-container > .stat-box {
  border-left: 2px solid rgb(0, 0, 0, 0.1);
  border-right: 2px solid rgb(0, 0, 0, 0.1);
  width: 384px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-container .box-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-container .box-in img {
  padding-right: 20px;
}
.w {
  width: 350px;
  height: 295px;
  margin-top: 45px;
}
.i{
  font-size: 12px;
}
.text3 {
  width: 390px;
  height: 250px;
  margin-top: 45px;
}
.text {
  width: 1000px;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 1px;
}
.text4 {
  width: 530px;
  height: 180px;
  margin: auto;
  margin-top: 150px;
  text-align: center;
}
.b {
  font-size: 15px;
}
.sss img {
  width: 100px;
  height: 80px;
  margin: 90px;
}
.sss {
  width: 970px;
  height: 750px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.sss1 {
  border: 3px solid rgb(45, 36, 36);
  width: 300px;
  height: 400pxpx;
  border-radius: 15px;
}
.sss1 h3 {
  text-align: center;
}
.a {
  font-size: 13px;
}
.rrr {
  width: 200px;
  height: 100px;
  margin: auto;
  text-align: center;
  margin-top: 70px;
}
.uuu {
  border: 3px solid red;
  width: 120px;
  height: 35px;
  margin: auto;
  padding: 5px;
  border-radius: 20px;
  color: red;
}
.sss3 {
  border: 3px solid red;
  border-radius: 20px;
}
.sss3 .x {
  text-align: center;
}

.z {
  text-align: center;
}
.www {
  width: 200px;
  height: 100px;
  margin: auto;
  margin-top: 35px;
  color: red;
}
.f {
  font-size: 17px;
}
.h {
  border: 3px solid red;
  width: 120px;
  height: 35px;
  margin: auto;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}
.fff {
  width: 200px;
  height: 100px;
  margin: auto;
  text-align: center;
  margin-top: 35px;
}
.n {
  border: 3px solid red;
  width: 120px;
  height: 35px;
  margin: auto;
  padding: 5px;
  border-radius: 20px;
  background-color: red;
}
.sd {
  color: aliceblue;
}
.sf {
  color: red;
}
.sss2 {
  text-align: center;
}
 .text i {
  color: chartreuse;
  background-color: green;
  border-radius: 5px;
}
.vvv {
  text-align: center;
}
.ddd {
  text-align: center;
}
.main-3 {
  width: 1152px;
  height: 740px;
  margin: auto;
  padding: 20px;
  margin-top: 50px;

}

.main-3 .h5 {
  width: 384px;
  height: 150px;
  margin: auto;
  text-align: center;
}

.main-3 .h5 h5 {
  font-size: 35px;
  font-weight: 300;
}

.main-3 .h5 p {
  color: gray;
}

.main-3 .box4 {
  width: 1088px;
  height: 553px;
  margin: auto;
  padding: 30px;
}

.main-3 .box4 img {
  width: 1000px;
  height: 553px;
}

/* ======main-4===== */
/* ================= */
.main-4 {
  width: 1152px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.main-4 div img {
  width: 165px;
  height: 56px;
}
footer {
  width: 1286px;
  height: 344px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.birinchi {
  width: 373px;
  height: 244px;
}

.birinchi .img1 {
  width: 132px;
  height: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.birinchi .img1 img {
  width: 40px;
  margin-right: 5px;
}

.birinchi small {
  color: gray;
  margin-bottom: 20px;
  font-size: 15px;
}

.birinchi .i i {
  font-size: 25px;
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0, 0.1);
  padding: 2px 2px 5px 2px;
  border-radius: 50%;
  color: #f53855;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.ikkinchi {
  width: 179px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ikkinchi p {
  color: gray;
}

.ikkinchi .p1 {
  color: gray;
  font-weight: 800;
}

.uchinchi {
  width: 179px;
  height: 244px;
}

.uchinchi .p2 {
  color: gray;
  margin-top: 10px;

}

.uchinchi .p1 {
  font-weight: 800;
  padding-top: 7px;
  margin-bottom: 15px;
  color: gray;
}








  




