* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #000;
}

nav {
  width: 1280px;
  height: 76px;
  margin: 16px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > .logo {
  width: 129px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .menu {
  width: 440px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {
  width: 250px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons > .btn {
  border-radius: 40px;
  padding: 8px 32px;
}

.auth-buttons > .sign-up {
  border: 2px solid #f53855;
}

/* about */

.about {
  width: 1280px;
  height: 478px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-left,
.about-right,
.about-right > img {
  width: 560px;
  height: 350px;
}

.about-left > h1 {
  font-size: 50px;
}

.about-left > button {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f53855;
  color: #fff;
  border-radius: 10px;
}

/* status-container */
.status-container {
  width: 1152px;
  height: 176px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.status-container > .stat-box {
  border-left: 2px solid rgb(0, 0, 0, 0.1);
  border-right: 2px solid rgb(0, 0, 0, 0.1);
  width: 384px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-container .box-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-container .box-in img {
  padding-right: 20px;
}
.w {
  width: 350px;
  height: 295px;
  margin-top: 45px;
}
.i{
  font-size: 12px;
}
.text3 {
  width: 390px;
  height: 250px;
  margin-top: 45px;
}
.text {
  width: 1000px;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 1px;
}
.text4 {
  width: 530px;
  height: 180px;
  margin: auto;
  margin-top: 150px;
  text-align: center;
}
.b {
  font-size: 15px;
}
.sss img {
  width: 100px;
  height: 80px;
  margin: 90px;
}
.sss {
  width: 970px;
  height: 750px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.sss1 {
  border: 3px solid red;
  width: 300px;
  height: 400pxpx;
  border-radius: 15px;
}
.sss1 h3 {
  text-align: center;
}
.a {
  font-size: 13px;
}
.qart {
  margin: 90px;
}
.rrr {
  border: 3px solid red;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  padding: 6px;
  color: red;
  margin-top: 2px;
  display: flex;
  justify-content: space-around;
}
.qart {
  margin-top: 15px;
}





  




